<!DOCTYPE html>

<html>
<head>
	{% block head %}
	<title>cloudBox</title>
	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.3/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<!--<![endif]-->
	
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
	<link rel="stylesheet" href="static/css/adminTheme.min.css">
	{% endblock %}
</head>

<body>
	<div id="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>