cfgversion:
  version: 1.0.0
db:
    driver: sqlite3 # A valid python DBAPI package.
    port: 5998
    driver-config: # Driver-specific configuration - use one only!
        # MySQL/PostgreSQL
        server-ip: 127.0.0.1
        username: root
        password: things
        database: cloudbox
        # SQLite
        file: data/db/cloudbox.db
advanced:
      requests-per-tick:
            hub-incoming: 500
            hub-outgoing-minecraft: 500
            hub-outgoing-world: 500
            hub-tasks: 5000
            world-incoming: 500
            world-outgoing: 500
            world-physics: 1500
            world-tasks: 5000
      tick-interval:
            hub: 0.01
            world: 0.01
            world-physics: 0.01