cfginfo:
    version: 1.0.0
main:
    mode: server # Server or client. Only server is suppported at the moment.
    driver: sqlite3 # A valid python DBAPI package.
    port: 5998

    # Server mode specific configurations
    access-control: ip-whitelist
    allowed-ips:
        - 127.0.0.1

    # Client mode specific configurations
    server-ip: 127.0.0.1

driver: # Driver-specific configuration - use one only!
    # MySQL/PostgreSQL
    server-ip: 127.0.0.1
    username: root
    password: things
    database: cloudbox
    # SQLite
    file: data/db/cloudbox.db